<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="W2.PacketSniffer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <W2.PacketSniffer.Properties.Settings>
            <setting name="AutoSavePackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePacketDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>8281</value>
            </setting>
            <setting name="IgnoredPacketsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnorePackets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </W2.PacketSniffer.Properties.Settings>
    </userSettings>
</configuration>